@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@keyframes lien {
    0%   { font-size: x-large;}
    50%  { font-size: large;}
    100% { font-size: x-large;}
  }


body{
    background-image: url(arriere-plan.jpg);
    background-size: cover;
}

.menu{
    background-color: #000000;
    padding-top: 1px ;
    padding-bottom: 50px;
    border-radius: 20px; 
    
}

h1{
    font-family: 'Indie Flower', cursive;
    font-size: 50%;
    text-align: center ;
    font-size:  50px;;
    color :rgb(255, 255, 255)
}

.lien{
    text-align: center;
    font-size: 25px;    
}

.back_lien{
    display: inline-block;
    padding: 10px 20px;
    border-radius: 20px; 
    background-color: #ffffff44; 
    font-weight: bold;
    text-decoration: none;
    margin: 10px; 
}


a {
    font-family: 'Indie Flower', cursive;
    color: #ffffffbb; 
    text-decoration: none;  
}

a:hover {
    animation: lien 3s infinite; 
    text-decoration: underline; 
    text-decoration: none;    
}
